header {
 
    width: 501px;
    height: 100%;
    background-color: #3c5798;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
}

header h1 {
    display: inline-block;
    color: azure;
    margin-left: 10px;
    text-shadow: 1px 1px black;
    font-family:sans-serif;
}

header img {
    display: inline-block;
    float: right;
    width: 100px;
    border-radius: 3px; 
}

figure {
    display: inline-block;
    float: right;
    margin-right: 5px;
}

#wrapper {
    background-color: #f8f8f8;
    width: 500px;
    border: 1px solid #3c5798;
    border-radius: 3px;
    margin-top: -3px;

}

#cmdCalculate {
    font-family: fantasy;
    margin-top: 5px;
    margin-left: 10px;
    color: #3c5798;
    padding-top: 3px;
    padding-bottom: 0px;
    border-radius: 3px;
}   

#txtResult {
    font-family:sans-serif ;
    color: #3c5798;
    margin-left: 5px;
      
}